body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgb(60, 61, 60);
}

/** * * NavBAR.js * * * */
header.row {
  background: rgb(0,133,209);
  background: linear-gradient(rgb(0,133,209) 85%, rgb(90,187,234)) 15%;
  padding: 1em;
}
div.col-lg-2 {
  padding-right: 0;
}
div.col-lg-4 {
  display: flex;
  align-self: center;
  padding-left: 0;
}
h1.App-title {
  font-size: 3em;
  color: #ffffff;
}